* {
    box-sizing: border-box;

}

.canvas-container {
    position: relative;
    display: inline-block;

}

.interface-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;

}

.playerParent {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.player-health {
    position: absolute;
    background: yellow;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;

}

.overPlayer {
    background-color: blue;
    height: 30px;
    width: 100%;

}

.enemyParent {
    position: relative;
    height: 30px;
    width: 100%;

}

.enemy-health {
    position: absolute;
    background: yellow;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.overEnemy {
    background-color: blue;
    height: 30px;

}

.timer  {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Result {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;

}